body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    background-color: rgba(48, 51, 107,1.0);;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}
#score{
    color: white;
}
#score{
    font-family: sans-serif
}
#gameoverCont{
    display: none;
    position: absolute;
    top: 23%;
    left: 33%;
}
#againButton{
    position: absolute;
    top: 47%;
    left: 44%;
    height: 30px;
    width: 100px;
}